registry=https://npm.pkg.github.com/studiosollc
@OWNER:registry=https://npm.pkg.github.com
@OWNER:registry=https://npm.pkg.github.com
email=charlieporth1@gmail.com
always-auth=true
//npm.pkg.github.com/:_authToken=1eb2e9eae5f915770f286dc7f3a9923d2f27a01c
